@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-background-secondary: oklch(96.8% 0.007 247);
  --color-foreground: oklch(20.8% 0.042 265);
  --color-border: oklch(92.9% 0.013 255);

  --font-sans: var(--font-work-sans);
  --font-serif: var(--font-cormorant);
}
