@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-background-secondary: oklch(96.8% 0.007 247);
  --color-foreground: oklch(20.8% 0.042 265);
  --color-foreground-secondary: oklch(44.6% 0.043 257);
  --color-foreground-muted: oklch(55.4% 0.046 257);
  --color-border: oklch(92.9% 0.013 255);
  --color-accent: oklch(74.6% 0.16 232);

  --font-sans: var(--font-work-sans);
  --font-serif: var(--font-cormorant);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(17.8% 0.028 260);
    --color-background-secondary: oklch(22.8% 0.032 258);
    --color-foreground: oklch(96.8% 0.014 254);
    --color-foreground-secondary: oklch(75.0% 0.03 256);
    --color-foreground-muted: oklch(61.5% 0.034 257);
    --color-border: oklch(31.0% 0.03 258);
    --color-accent: oklch(80% 0.13 225);
  }
}

@layer base {
  * {
    @apply border-border outline-foreground;
  }

  body {
    @apply font-light text-lg;
  }

  section {
    @apply my-8;
  }

  h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-medium;
  }

  h2 {
    @apply text-xl sm:text-2xl lg:text-3xl font-medium;
  }

  p {
    @apply my-4;
  }

  .link {
    @apply underline-offset-6 decoration-4 decoration-accent;
  }

  .html {
    ul {
      @apply flex flex-col gap-4 p-4 lg:px-8;
    }
    li {
      @apply list-disc;
    }
  }

  /* Google Maps */

  .map {
    @apply h-100 md:h-125;
  }

  /* Swiper */

  .my-swiper {
    @apply h-full w-full;
  }

  .my-swiper .swiper-slide {
    @apply flex!;
  }

  .my-swiper .swiper-button-prev,
  .my-swiper .swiper-button-next {
    @apply bg-black/50! rounded-full! text-white! p-2! h-10! w-10! lg:h-11! lg:w-11!;
  }

  .my-swiper .swiper-button-prev {
    @apply ml-2! lg:ml-3!;
  }

  .my-swiper .swiper-button-next {
    @apply mr-2! lg:mr-3!;
  }
}
